@media (min-width: 992px) and (max-width: 1300px) {
    .overlay, .side-panel{ display:none; }
    .navbar { display: none;}
    .rating {
        width: 350px;
        height: 117px;
        position: absolute;
        bottom: 215px;
        left: -35px;
    }

    .left {
    width: 45%;
    height: 510px;
    margin-top: 149.5px;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

    .right {
        width: 45%;
        height: 727.37px;
        margin-top: 81.63px;
        position: relative;
    }

    .lefttop {
        width: 100%;
        height: 252px;
    }

    .leftmiddle {
        font-family: "Figtree", sans-serif;
        width: 80%;
        height: 136px;
        font-size: 12px;
        line-height: 34px;
        font-weight: 400;
    }

    .leftbottom {
    display: flex;
    width: 70%;
    height: 46px;
    justify-content: space-between;
}

.resume {
    font-family: "Figtree", sans-serif;
    width: 45%;
    height: 46px;
    border-radius: 30px;
    color: #FA1239;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 12px #FA123994;
    border: none;
    font-weight: 500;
}

.contact {
    font-family: "Figtree", sans-serif;
    width: 45%;
    height: 46px;
    border-radius: 30px;
    color: #FFFFFF;
    background-color: #FA1239;
    box-shadow: 0px 0px 12px #FA123994;
    border: none;
    font-weight: 500;
}

    .secondimg {
        width: 70%;
        margin-top: 0px;
    }

    .nextdiv {
        width: 90%;
        height: 678px;
    }

    .nexttop {
        width: 100%;
        height: 178px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nextbottom {
        height: 450px;
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nextbottomdivs {
        width: 24%;
        height: 450;
        border: none;
        border-radius: 20px;
        box-shadow: 0px 4px 16px #00000014;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    /* .nextbottomimg {
        width: 200px;
        height: 149.02px;
    }

    .nextbottomtopic {
        font-family: "Figtree", sans-serif;
        width: 80%;
        height: 60px;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        color: #000000;
    }

    .nextbottomtext {
        font-family: "Figtree", sans-serif;
        width: 80%;
        height: 90px;
        font-weight: 400;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        color: #595959;
    } */
}