/* Navbar Base */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
  position: fixed;
  width: 80%;
  top: 0;
}

  .hamburger {
    font-size: 28px;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: none;
    padding: 6px;
  }

  .nav-links {
    list-style: none;
    display: none;          
    flex-direction: column;
    background: white;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 20px 0;
  }

  .nav-links li { text-align: center; margin: 12px 0; }
  .nav-links a { text-decoration: none; color: #333; font-size: 18px; }

  /* show menu */
  .show-menu { display: flex; }